@font-face {
    font-family: "noita";
    src: url("https://files.catbox.moe/ukhbg2.ttf") format("truetype");
}

body {
    background-image: url('https://files.catbox.moe/x0d71n.png');
}

body #logo {
    background-image: url('https://files.catbox.moe/ku3jrj.png');
    background-size: contain;
}
